body
    margin: 0
    font-family: 'Roboto', sans-serif
    
nav
    background-color: #26384d
    .justify
        justify-content: space-between
        ul
            list-style: none
            display: flex
            .right
                justify-content: space-between
                align-items: flex-end
                flex: 1
.flex
    display: flex
    
.white
    color: #FCF4E2

.height-1
    height: 135px
.banniere
    width: 100%

.bg-yellow
    background-color: #EEEBDC
    margin-top: 0px
    text-align: center
    font-size: 20px
    color:#858383
    p
    padding-top: 40px
    .paddingb-1
        padding-bottom: 20px    

    .bg-blue
        background-color: #1296D3
    .color-blue
        color: #1296D3
    .bold
        font-weight: bold

        







